<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Dashboard</title>
  </head>
  <body>
    <%- include("../partials/_navbar.ejs") %>
    <div class="dashboard-page">
      <div class="dashboard-header-grid">
        <h1 class="h1-dashboard">Welcome, <%= user.username %></h1>
        <h2 class="h2-dashboard">GoodCatch by Category</h2>
      </div>

      <div class="form-container-dashboard">
        <% if (goodCatches.length === 0) { %>
        <p>You have no GoodCatch records yet.</p>
        <% } else { %> <% for (let category in groupedByCategory) { %>
        <h3><%= category %></h3>
        <ul>
          <% groupedByCategory[category].forEach(item => { %>
          <li>
            <div class="data-grid-item-dashboard">
              <strong>Site:</strong> <%= item.site %><br />
              <strong>Department:</strong> <%= item.department %><br />
              <strong>Area:</strong> <%= item.area %><br />
              <% if (item.events && item.events.length > 0) { %>
              <strong>Event Description:</strong> <%= item.events[0].description
              %> <% } %>
            </div>
          </li>
          <% }) %>
        </ul>
        <% } %> <% } %>
      </div>
    </div>
  </body>
</html>
