
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <title>GoodCatch List</title>
</head>
<body><div style="background: yellow; padding: 10px;">Navbar Test</div>

  <%- include("../partials/_navbar.ejs") %>
 <h1>GoodCatch List for <%= user.username %></h1>  
  <ul>
    <% goodCatches.forEach(goodCatch => { %>
      <li>
        <strong>Site:</strong> <%= goodCatch.site %><br />
        <strong>Department:</strong> <%= goodCatch.department %><br />
        <strong>Area:</strong> <%= goodCatch.area %><br />
        <strong>Events:</strong> <%= goodCatch.events %><br />
        <strong>Created by:</strong> <%= goodCatch.creationUser.username %>  
      </li>
    <% }) %>
  </ul>
</body>
</html>